<table align="center" border="0" cellpadding="0" cellspacing="0" style="background-color:#FFFFFF; border-radius:18px; overflow:hidden; width:520px;" width="520">
    <tbody>
        <tr>
            <td height="[TOP_SPACER]" style="font-size:1px; line-height:1px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="padding:0 [TITLE_SIDE_PADDING];"><span style="font-size:[TITLE_SIZE]; line-height:[TITLE_LINE_HEIGHT];"><strong><span style="font-family:Samsung Sharp Sans, avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#000000;">[TITLE]</span></strong></span></td>
        </tr>
        <tr>
            <td height="[TITLE_GAP]" style="font-size:1px; line-height:1px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="padding:0 [INNER_SIDE_PADDING];">
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="[INNER_WIDTH]">
                    <tbody>
                        <tr>
                            <td align="center" valign="middle" width="[PRODUCT_COL_WIDTH]"><a href="[PRIMARY_URL]" target="_blank"><img alt="[PRODUCT_ALT]" border="0" height="[PRODUCT_HEIGHT]" src="[PRODUCT_IMAGE]" style="display:block; width:[PRODUCT_WIDTH]px; height:[PRODUCT_HEIGHT]px; margin:auto;" width="[PRODUCT_WIDTH]"></a></td>
                            <td width="[COLUMN_GAP]"></td>
                            <td valign="middle" width="[PRICING_COL_WIDTH]">
                                <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; border:1px solid #000000; width:[PRICING_WIDTH]px;" width="[PRICING_WIDTH]">
                                    <tbody>
                                        <tr>
                                            <td align="center" style="background-color:#000000; padding:11px 8px;"><span style="font-size:[PLAN_SIZE]; line-height:[PLAN_LINE_HEIGHT];"><span style="font-family:Samsung Sharp Sans, avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:[PLAN_COLOR];">[PLAN_COPY]</span></span></td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="background-color:#FFFFFF; border-top:1px solid #000000; padding:11px 8px;"><span style="font-size:[WAS_LABEL_SIZE]; line-height:[WAS_LABEL_LINE_HEIGHT];"><span style="font-family:Samsung Sharp Sans, avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#000000;">[WAS_PREFIX] </span></span><span style="font-size:[WAS_PRICE_SIZE]; line-height:[WAS_PRICE_LINE_HEIGHT];"><strong><span style="font-family:Samsung Sharp Sans, avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#000000; text-decoration:line-through;">[WAS_PRICE]</span></strong></span><span style="font-size:[WAS_SUFFIX_SIZE]; line-height:[WAS_SUFFIX_LINE_HEIGHT];"><span style="font-family:Samsung Sharp Sans, avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#000000;"> [WAS_SUFFIX]</span></span></td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="background-color:#FFFFFF; border-top:1px solid #000000; padding:11px 8px;"><span style="font-size:[NOW_LABEL_SIZE]; line-height:[NOW_LABEL_LINE_HEIGHT];"><span style="font-family:Samsung Sharp Sans, avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#000000;">[NOW_PREFIX] </span></span><span style="font-size:[NOW_PRICE_SIZE]; line-height:[NOW_PRICE_LINE_HEIGHT];"><strong><span style="font-family:Samsung Sharp Sans, avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#000000;">[NOW_PRICE]</span></strong></span><span style="font-size:[NOW_SUFFIX_SIZE]; line-height:[NOW_SUFFIX_LINE_HEIGHT];"><span style="font-family:Samsung Sharp Sans, avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#000000;"> [NOW_SUFFIX]</span></span></td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="background-color:#FFFFFF; border-top:1px solid #000000; padding:11px 8px;"><span style="font-size:[SAVE_LABEL_SIZE]; line-height:[SAVE_LABEL_LINE_HEIGHT];"><span style="font-family:Samsung Sharp Sans, avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#000000;">[SAVE_PREFIX] </span></span><span style="font-size:[SAVE_PRICE_SIZE]; line-height:[SAVE_PRICE_LINE_HEIGHT];"><strong><span style="font-family:Samsung Sharp Sans, avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#000000;">[SAVE_PRICE]</span></strong></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td height="[BOTTOM_GAP]" style="font-size:1px; line-height:1px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="padding:0 [INNER_SIDE_PADDING] [BOTTOM_PADDING] [INNER_SIDE_PADDING];">
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="[INNER_WIDTH]">
                    <tbody>
                        <tr>
                            <td align="left" valign="middle" width="[PROMO_COL_WIDTH]"><a href="[PRIMARY_URL]" target="_blank"><img alt="[PROMO_ALT]" border="0" height="[PROMO_HEIGHT]" src="[PROMO_IMAGE]" style="display:block; width:[PROMO_WIDTH]px; height:[PROMO_HEIGHT]px;" width="[PROMO_WIDTH]"></a></td>
                            <td width="[BUTTON_GAP]"></td>
                            <td align="right" valign="middle" width="[BUTTON_COL_WIDTH]"><a href="[PRIMARY_URL]" target="_blank"><img alt="Buy now" border="0" height="[BUTTON_HEIGHT]" src="[BUTTON_IMAGE]" style="display:block; width:[BUTTON_WIDTH]px; height:[BUTTON_HEIGHT]px; margin-left:auto;" width="[BUTTON_WIDTH]"></a></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>