<table align="center" border="0" cellpadding="0" cellspacing="0" style="background-color:#FFFFFF;" width="600">
    <tbody>
        <tr>
            <td height="[TOP_SPACER]" style="font-size:1px; line-height:1px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align:center;"><span style="font-size:[OFFER_DATE_SIZE]; line-height:[OFFER_DATE_LINE_HEIGHT];"><span style="font-family:avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#000000;">[OFFER_DATE_COPY]</span></span></td>
        </tr>
        <tr>
            <td height="[DATE_GAP]" style="font-size:1px; line-height:1px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align:center;"><img alt="[PARTNER_ALT]" border="0" height="[PARTNER_HEIGHT]" src="[PARTNER_IMAGE]" style="display:block; width:[PARTNER_WIDTH]px; height:[PARTNER_HEIGHT]px; margin:auto;" width="[PARTNER_WIDTH]"></td>
        </tr>
        <tr>
            <td height="[PARTNER_GAP]" style="font-size:1px; line-height:1px;">&nbsp;</td>
        </tr>
        <tr>
            <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td align="center"><a href="[FACEBOOK_URL]" target="_blank"><img alt="Facebook" border="0" height="48" src="https://cdn19.mailercdn.net/users/assets/379/images/group_137.png" style="display:block; width:48px; height:48px;" width="48"></a></td>
                            <td width="12"></td>
                            <td align="center"><a href="[INSTAGRAM_URL]" target="_blank"><img alt="Instagram" border="0" height="48" src="https://cdn19.mailercdn.net/users/assets/379/images/group_138.png" style="display:block; width:48px; height:48px;" width="48"></a></td>
                            <td width="12"></td>
                            <td align="center"><a href="[X_URL]" target="_blank"><img alt="X" border="0" height="48" src="https://cdn19.mailercdn.net/users/assets/379/images/group_139.png" style="display:block; width:48px; height:48px;" width="48"></a></td>
                            <td width="12"></td>
                            <td align="center"><a href="[YOUTUBE_URL]" target="_blank"><img alt="Youtube" border="0" height="48" src="https://cdn19.mailercdn.net/users/assets/379/images/group_140.png" style="display:block; width:48px; height:48px;" width="48"></a></td>
                            <td width="12"></td>
                            <td align="center"><a href="[LINKEDIN_URL]" target="_blank"><img alt="LinkedIn" border="0" height="48" src="https://cdn19.mailercdn.net/users/assets/379/images/group_141.png" style="display:block; width:48px; height:48px;" width="48"></a></td>
                            <td width="12"></td>
                            <td align="center"><a href="[MEMBERS_URL]" target="_blank"><img alt="Samsung Members" border="0" height="48" src="https://cdn19.mailercdn.net/users/assets/379/images/group_142.png" style="display:block; width:48px; height:48px;" width="48"></a></td>
                            <td width="12"></td>
                            <td align="center"><a href="[WALLET_URL]" target="_blank"><img alt="Samsung Wallet" border="0" height="48" src="https://cdn19.mailercdn.net/users/assets/379/images/group_143.png" style="display:block; width:48px; height:48px;" width="48"></a></td>
                            <td width="12"></td>
                            <td align="center"><a href="[CARE_URL]" target="_blank"><img alt="Samsung Care Plus" border="0" height="48" src="https://cdn19.mailercdn.net/users/assets/379/images/group_144.png" style="display:block; width:48px; height:48px;" width="48"></a></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td height="[ICONS_GAP]" style="font-size:1px; line-height:1px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align:center;"><span style="font-size:[LEGAL_LINK_SIZE]; line-height:[LEGAL_LINK_LINE_HEIGHT];"><strong><span style="font-family:Samsung Sharp Sans, avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif;"><a href="[LEGAL_URL]" style="color:#000000; text-decoration:none;" target="_blank">Legal</a> <span style="color:#000000;">|</span> <a href="[PRIVACY_URL]" style="color:#000000; text-decoration:none;" target="_blank">Privacy Policy</a></span></strong></span></td>
        </tr>
        <tr>
            <td height="[LEGAL_GAP]" style="font-size:1px; line-height:1px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align:center; padding:0 [COPY_PADDING];"><span style="font-size:[COPY_SIZE]; line-height:[COPY_LINE_HEIGHT];"><span style="font-family:avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#000000;">[TERMS_COPY]</span></span></td>
        </tr>
        <tr>
            <td height="[UNSUB_GAP]" style="font-size:1px; line-height:1px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align:center; padding:0 [COPY_PADDING];"><span style="font-size:[COPY_SIZE]; line-height:[COPY_LINE_HEIGHT];"><span style="font-family:avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#000000;">[UNSUB_COPY_PREFIX] <a href="https://samsung-mena-mkt-prod6-m.adobe-campaign.com/webApp/smgUnsub?id=<%= escapeUrl(recipient.cryptedId) %>&lang=en&unsub=true" style="color:#696969;" target="_blank">Unsubscribe</a>[UNSUB_COPY_SUFFIX]</span></span></td>
        </tr>
        <tr>
            <td height="[COPYRIGHT_GAP]" style="font-size:1px; line-height:1px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align:center; padding:0 [COPY_PADDING];"><span style="font-size:[COPY_SIZE]; line-height:[COPY_LINE_HEIGHT];"><span style="font-family:avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#000000;">[COPYRIGHT_COPY]</span></span></td>
        </tr>
        <tr>
            <td height="[BOTTOM_SPACER]" style="font-size:1px; line-height:1px;">&nbsp;</td>
        </tr>
    </tbody>
</table>