<!-- COMPONENT: three-column-spec-compare | Source: ZAS26110067 A Series Upgrade W20 | Usage: Two live-text spec columns with a 217px centre handset image and an optional CTA below -->

<table align="center" border="0" cellpadding="0" cellspacing="0" style="background-color:[BG_COLOUR e.g. #F4F4F4];" width="600">
    <tbody>
        <tr>
            <td height="30" style="font-size:1px; line-height:1px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align:center; padding:0 40px;">
                <span style="font-size:48px; line-height:52px;"><strong><span style="font-family:Samsung Sharp Sans, avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#000000;">[SECTION_TITLE_LINE1]<br>
                [SECTION_TITLE_LINE2]</span></strong></span>
            </td>
        </tr>
        <tr>
            <td height="30" style="font-size:1px; line-height:1px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align:center;">
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="520">
                    <tbody>
                        <tr>
                            <td valign="top" width="151">
                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="151">
                                    <tbody>
                                        <tr>
                                            <td style="text-align:left;">
                                                <a href="[LEFT_PRODUCT_URL]" style="color:#000000; text-decoration:none;" target="_blank"><span style="font-size:24px; line-height:28px;"><strong><span style="font-family:Samsung Sharp Sans, avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#000000;">[LEFT_PRODUCT_NAME_LINE1]<br>
                                                [LEFT_PRODUCT_NAME_LINE2]</span></strong></span></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="14" style="font-size:1px; line-height:1px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:left;"><a href="[LEFT_PRODUCT_URL]" target="_blank"><img alt="[LEFT_SWATCH_ALT]" height="26" src="[LEFT_SWATCH_IMAGE_URL]" style="width:110px; height:26px; display:block;" width="110"></a></td>
                                        </tr>
                                        <tr>
                                            <td height="40" style="font-size:1px; line-height:1px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:left;"><span style="font-size:16px; line-height:20px;"><span style="font-family:avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#2189FF;">[LEFT_LABEL_1]</span></span></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:left;"><span style="font-size:22px; line-height:26px;"><strong><span style="font-family:Samsung Sharp Sans, avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#000000;">[LEFT_VALUE_1]</span></strong></span></td>
                                        </tr>
                                        <tr>
                                            <td height="22" style="font-size:1px; line-height:1px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:left;"><span style="font-size:16px; line-height:20px;"><span style="font-family:avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#2189FF;">[LEFT_LABEL_2]</span></span></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:left;"><span style="font-size:22px; line-height:26px;"><strong><span style="font-family:Samsung Sharp Sans, avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#000000;">[LEFT_VALUE_2]</span></strong></span></td>
                                        </tr>
                                        <tr>
                                            <td height="22" style="font-size:1px; line-height:1px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:left;"><span style="font-size:16px; line-height:20px;"><span style="font-family:avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#2189FF;">[LEFT_LABEL_3]</span></span></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:left;"><span style="font-size:22px; line-height:26px;"><strong><span style="font-family:Samsung Sharp Sans, avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#000000;">[LEFT_VALUE_3A]</span></strong></span></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:left;"><span style="font-size:14px; line-height:18px;"><span style="font-family:avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#5A5A5F;">[LEFT_VALUE_3A_SUB]</span></span></td>
                                        </tr>
                                        <tr>
                                            <td height="16" style="font-size:1px; line-height:1px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:left;"><span style="font-size:22px; line-height:26px;"><strong><span style="font-family:Samsung Sharp Sans, avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#000000;">[LEFT_VALUE_3B]</span></strong></span></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:left;"><span style="font-size:14px; line-height:18px;"><span style="font-family:avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#5A5A5F;">[LEFT_VALUE_3B_SUB]</span></span></td>
                                        </tr>
                                        <tr>
                                            <td height="16" style="font-size:1px; line-height:1px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:left;"><span style="font-size:22px; line-height:26px;"><strong><span style="font-family:Samsung Sharp Sans, avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#000000;">[LEFT_VALUE_3C]</span></strong></span></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:left;"><span style="font-size:14px; line-height:18px;"><span style="font-family:avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#5A5A5F;">[LEFT_VALUE_3C_SUB]</span></span></td>
                                        </tr>
                                        <tr>
                                            <td height="22" style="font-size:1px; line-height:1px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:left;"><span style="font-size:16px; line-height:20px;"><span style="font-family:avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#2189FF;">[LEFT_LABEL_4]</span></span></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:left;"><span style="font-size:22px; line-height:26px;"><strong><span style="font-family:Samsung Sharp Sans, avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#000000;">[LEFT_VALUE_4A]<br>
                                            [LEFT_VALUE_4B]</span></strong></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td valign="top" width="217">
                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="217">
                                    <tbody>
                                        <tr>
                                            <td height="46" style="font-size:1px; line-height:1px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:center;"><img alt="[CENTRE_IMAGE_ALT]" height="750" src="[CENTRE_IMAGE_URL]" style="width:217px; height:750px; display:block; margin:auto;" width="217"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td valign="top" width="152">
                                <table align="right" border="0" cellpadding="0" cellspacing="0" width="152">
                                    <tbody>
                                        <tr>
                                            <td style="text-align:right;">
                                                <a href="[RIGHT_PRODUCT_URL]" style="color:#000000; text-decoration:none;" target="_blank"><span style="font-size:24px; line-height:28px;"><strong><span style="font-family:Samsung Sharp Sans, avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#000000;">[RIGHT_PRODUCT_NAME_LINE1]<br>
                                                [RIGHT_PRODUCT_NAME_LINE2]</span></strong></span></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="14" style="font-size:1px; line-height:1px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;"><a href="[RIGHT_PRODUCT_URL]" target="_blank"><img alt="[RIGHT_SWATCH_ALT]" height="26" src="[RIGHT_SWATCH_IMAGE_URL]" style="width:109px; height:26px; display:block; margin-left:auto;" width="109"></a></td>
                                        </tr>
                                        <tr>
                                            <td height="40" style="font-size:1px; line-height:1px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;"><span style="font-size:16px; line-height:20px;"><span style="font-family:avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#2189FF;">[RIGHT_LABEL_1]</span></span></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;"><span style="font-size:22px; line-height:26px;"><strong><span style="font-family:Samsung Sharp Sans, avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#5A5A5F;">[RIGHT_VALUE_1]</span></strong></span></td>
                                        </tr>
                                        <tr>
                                            <td height="22" style="font-size:1px; line-height:1px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;"><span style="font-size:16px; line-height:20px;"><span style="font-family:avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#2189FF;">[RIGHT_LABEL_2]</span></span></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;"><span style="font-size:22px; line-height:26px;"><strong><span style="font-family:Samsung Sharp Sans, avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#5A5A5F;">[RIGHT_VALUE_2]</span></strong></span></td>
                                        </tr>
                                        <tr>
                                            <td height="22" style="font-size:1px; line-height:1px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;"><span style="font-size:16px; line-height:20px;"><span style="font-family:avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#2189FF;">[RIGHT_LABEL_3]</span></span></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;"><span style="font-size:22px; line-height:26px;"><strong><span style="font-family:Samsung Sharp Sans, avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#5A5A5F;">[RIGHT_VALUE_3A]</span></strong></span></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;"><span style="font-size:14px; line-height:18px;"><span style="font-family:avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#5A5A5F;">[RIGHT_VALUE_3A_SUB]</span></span></td>
                                        </tr>
                                        <tr>
                                            <td height="16" style="font-size:1px; line-height:1px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;"><span style="font-size:22px; line-height:26px;"><strong><span style="font-family:Samsung Sharp Sans, avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#5A5A5F;">[RIGHT_VALUE_3B]</span></strong></span></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;"><span style="font-size:14px; line-height:18px;"><span style="font-family:avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#5A5A5F;">[RIGHT_VALUE_3B_SUB]</span></span></td>
                                        </tr>
                                        <tr>
                                            <td height="16" style="font-size:1px; line-height:1px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;"><span style="font-size:22px; line-height:26px;"><strong><span style="font-family:Samsung Sharp Sans, avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#5A5A5F;">[RIGHT_VALUE_3C]</span></strong></span></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;"><span style="font-size:14px; line-height:18px;"><span style="font-family:avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#5A5A5F;">[RIGHT_VALUE_3C_SUB]</span></span></td>
                                        </tr>
                                        <tr>
                                            <td height="22" style="font-size:1px; line-height:1px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;"><span style="font-size:16px; line-height:20px;"><span style="font-family:avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#2189FF;">[RIGHT_LABEL_4]</span></span></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;"><span style="font-size:22px; line-height:26px;"><strong><span style="font-family:Samsung Sharp Sans, avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#5A5A5F;">[RIGHT_VALUE_4A]<br>
                                            [RIGHT_VALUE_4B]</span></strong></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td height="30" style="font-size:1px; line-height:1px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align:center;"><a href="[CTA_URL]" target="_blank"><img alt="[CTA_ALT_TEXT]" height="50" src="[CTA_BUTTON_IMAGE_URL]" style="width:[CTA_WIDTH e.g. 184]px; height:50px; display:block; margin:auto;" width="[CTA_WIDTH e.g. 184]"></a></td>
        </tr>
        <tr>
            <td height="40" style="font-size:1px; line-height:1px;">&nbsp;</td>
        </tr>
    </tbody>
</table>