<table align="center" border="0" cellpadding="0" cellspacing="0" width="518">
    <tbody>
        <tr>
            <td style="font-size:0; line-height:0;"><img alt="" border="0" height="40" src="[TOP_BORDER_SRC]" style="display:block; width:518px; height:40px;" width="518"></td>
        </tr>
        <tr>
            <td style="background-color:#F4F4F4;">
                <table align="center" border="0" cellpadding="0" cellspacing="0" style="background-color:#F4F4F4;" width="518">
                    <tbody>
                        <tr>
                            <td style="text-align:center; padding:0 36px;"><span style="font-size:[EYEBROW_SIZE]; line-height:[EYEBROW_LINE_HEIGHT];"><strong><span style="font-family:Samsung Sharp Sans, avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:[EYEBROW_COLOR];">[EYEBROW]</span></strong></span></td>
                        </tr>
                        <tr>
                            <td height="[SPACER_1]" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center; padding:0 [HEADLINE_PADDING];"><span style="font-size:[HEADLINE_SIZE]; line-height:[HEADLINE_LINE_HEIGHT];"><strong><span style="font-family:Samsung Sharp Sans, avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#000000;">[HEADLINE]</span></strong></span></td>
                        </tr>
                        <tr>
                            <td height="[SPACER_2]" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center; padding:0 [BODY_PADDING];"><span style="font-size:[BODY_SIZE]; line-height:[BODY_LINE_HEIGHT];"><span style="font-family:avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#000000;">[BODY_COPY]</span></span></td>
                        </tr>
                        <tr>
                            <td height="[SPACER_3]" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center;"><a href="[SECTION_URL]" target="_blank"><img alt="[IMAGE_ALT]" border="0" height="[IMAGE_HEIGHT]" src="[IMAGE_SRC]" style="display:block; width:518px; height:[IMAGE_HEIGHT]px;" width="518"></a></td>
                        </tr>
                        <tr>
                            <td height="[SPACER_4]" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align:center; padding:0 [LEGAL_PADDING];"><span style="font-size:[LEGAL_SIZE]; line-height:[LEGAL_LINE_HEIGHT];"><span style="font-family:avant garde,avantgarde,century gothic,centurygothic,applegothic,sans-serif; color:#666666;">[LEGAL_COPY]</span></span></td>
                        </tr>
                        <tr>
                            <td height="[BOTTOM_SPACER]" style="font-size:1px; line-height:1px;">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="font-size:0; line-height:0;"><img alt="" border="0" height="40" src="[BOTTOM_BORDER_SRC]" style="display:block; width:518px; height:40px;" width="518"></td>
        </tr>
    </tbody>
</table>